@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
body {
  background-image: linear-gradient(to right, #2fbdf1, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #2fbdf1);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
hr {
  width: 100%;
  margin-bottom: 0px;
}
.main-header {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1rem;
  text-align: center;
  color: #2fbdfa;
  font-family: monospace;
  font-size: large;
  background-origin: border-box;
  background-position: left, right;
  background-repeat: no-repeat;
}
nav a {
  text-shadow: 1px 1px 4px hsla(200, 50%, 70%, .7);
  text-decoration-line: none;
  padding: 3px;
  border-color: lightblue;
  border-style: ridge;
  border-width: 2px;
  border-radius: 4px;
  transition: text-shadow 2s ease-in-out 1s;
}
nav a:hover {
  border-style: groove;
  text-shadow: 4px 4px 8px rgb(0,0,0);
  background-color: lightcyan;
}
main {
  max-width: 80%;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
}
.main-section-flex {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
  transition-property: margin-bottom;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.section-header {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.main-footer {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer-icon-box {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.footer-info-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}
.fa-paw {
  color: #2fbdfa;
  font-size: 900%
}
.pfix {
  display: block;
  max-width: 100rem;
}
p {
  max-width: 100rem;
}
article.arty {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: x-large;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  display: block;
}
p.article-p {
  text-align: left;
  font-size: x-large;
}
img.article-img {
  width: 20%;
  padding: 3px;
  border-style: solid;
  margin-bottom: 1rem;
}
.article-header {
  text-align: inherit;
}
.arty p:nth-child(1n+3)::first-letter {
  color: #2fbdfa;
  font-size: larger;
  font-weight: bold;
}
.top-blurb {
  font-size: x-large;
  text-align: center;
}
.lefty {
  float: left;
  text-align: left;
  margin-left: 0px;
  margin-right: 1rem;
}
.righty {
  float: right;
  text-align: right;
  margin-left: 1rem;
  margin-right: 0px;
  align-self: flex-end;
}
.project-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0px;
}
.project {
  width: 100%;
  padding-left: 0px;
  transition-property: margin-bottom;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.project:hover, .main-section-flex:hover {
  margin-bottom: 4rem;
}
.contact-form {
  width: 100%;
}
.form-fields {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.form-box fieldset {
  display: flex;
  flex-flow: column nowrap;
}
.form-box fieldset > div {
  margin: 0 .25rem 0 .25rem;
}
.form-box-line {
  display: flex;
  flex-flow: row nowrap;
}
.left-form {
  width: min-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.left-form > fieldset:nth-of-type(3) {
  display: flex;
  flex-flow: row nowrap;
}
.contact-info {
  width: max-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.right-form {
  max-width: 70%;
}
.main-contact {
  width: 80%;
}
.main-contact section {
  width: min-content;
}
input[type="submit"] {
  margin-top: .5rem;
  padding: .5rem;
}
